@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");

/*  */

@import url("https://fonts.googleapis.com/css2?family=Griffy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 26, 30);
}

.app {
  width: 80%;
  max-width: 680px;
  margin: 0 auto;
}

.header {
  height: 70px;
  padding: 10px;
}

.header > h1 {
  font-family: Griffy;
  color: azure;
}

.genre {
  margin-top: 5px;
}

.genre p {
  color: rgb(227, 103, 103);
}

.genre-buttons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.btn {
  background: #ffffff;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: Rokkitt;
  height: 35px;
  padding: 0 15px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  outline: none;
}

.books {
  display: flex;
  background-color: white;
  gap: 10px;
  margin: 10px auto;
  padding: 5px 10px;
  border: 0.02rem solid lightgray;
  border-radius: 5px;
}

.book-img {
  height: 100px;
  object-fit: contain;
}

.book-name {
  font-weight: 500;
  font-family: Arapey;
}

.book-rating {
  color: gray;
  margin-top: 5px;
  font-family: "Akaya Kanadaka", cursive;
}
